rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user/{id} {
     allow read: if request.auth.uid != null;
     allow write: if request.auth.uid == id;
    }

    match /product/{id} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.token.admin == true;
    }
  }
}